<div class="flex flex-wrap" id="tabs-id">
	<div class="w-full">
		<ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
			<li
				class="mr-2 cursor-pointer user-select-none rounded-md border border-white last:mr-0 flex-auto text-center"
			>
				<a
					class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-pink-600"
					onclick="changeAtiveTab(event,'tab-profile')"
				>
					Mizo
				</a>
			</li>
			<li
				class="mr-2 cursor-pointer user-select-none rounded-md border border-white last:mr-0 flex-auto text-center"
			>
				<a
					class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white"
					onclick="changeAtiveTab(event,'tab-settings')"
				>
					English
				</a>
			</li>
		</ul>
		<div
			class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
		>
			<div class="px-4 py-5 flex-auto">
				<div class="tab-content tab-space">
					<div class="block" id="tab-profile">
						<ol>
							<li>Amazon-ah bungraw zawrh i duh danin filter la</li>
							<li>I thil enlai chu address bar atangin a URL copy la</li>
							<li>A hnuaia input field-ah khuan a link (URL) chu paste rawh</li>
						</ol>
					</div>
					<div class="hidden" id="tab-settings">
						<ol>
							<li>Browse any amazon product and filter them as you wish</li>
							<li>Copy link address (URL)</li>
							<li>Paste the link in the input field below</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function changeAtiveTab(event, tabID) {
		let element = event.target
		while (element.nodeName !== "A") {
			element = element.parentNode
		}
		ulElement = element.parentNode.parentNode
		aElements = ulElement.querySelectorAll("li > a")
		tabContents = document
			.getElementById("tabs-id")
			.querySelectorAll(".tab-content > div")
		for (let i = 0; i < aElements.length; i++) {
			// aElements[i].classList.remove("text-white")
			aElements[i].classList.remove("bg-pink-600")
			// aElements[i].classList.add("text-pink-600")
			// aElements[i].classList.add("bg-white")
			tabContents[i].classList.add("hidden")
			tabContents[i].classList.remove("block")
		}
		element.classList.remove("text-pink-600")
		element.classList.remove("bg-white")
		element.classList.add("text-white")
		element.classList.add("bg-pink-600")
		document.getElementById(tabID).classList.remove("hidden")
		document.getElementById(tabID).classList.add("block")
	}
</script>
